<form action="/addMoreSub" method="POST">
    
    <label class="text-primary"></label><br>
    <label> Add sub category</label><br>

    <input type="text" required name="subCat"><br><br>
    <input type="text" name="id" hidden value="{{id}}">
    <button type="submit" class="btn btn-success">Add categories</button>

</form>