<table class="table">
    <thead class="thead-dark">
        <tr>

            <th scope="col">Product</th>
            <th scope="col">url starts</th>
            <th scope="col">Product price</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>
                {{product.name}}
            </td>
            <td>
                {{product.url}}
            </td>
            <td>
                {{product.price}}
            </td>
        </tr>

    </tbody>




</table>