<form action="/updatecat" method="POST">
    
    <label class="text-primary"></label><br>
    <label> Edit category</label><br>

    <input type="text" required name="category"><br><br>
    <input type="text" name="id" hidden value="{{id}}">
    <button type="submit" class="btn btn-success">Edit categories</button>

</form>